@page "/resize"

@inject IJSRuntime js;
@implements IDisposable

@if (windowSize.Width != null)
{
    <h2>
        Window Size: @windowSize.Width x @windowSize.Height
    </h2>
}

<h3>Resize</h3>

@code {
    private DotNetObjectReference<Resize> objectRef;
    private WindowSize windowSize = new WindowSize();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objectRef = DotNetObjectReference.Create(this);
            await js.InvokeVoidAsync("bweInterop.registerResizeHangler", objectRef);
        }
    }

    [JSInvokable] //Identifies a .NET method as allowing invocation from JavaScript code
    public void GetWindowSize(WindowSize newWindowSize)
    {
        windowSize = newWindowSize;
    }

    public void Dispose()
    {
        objectRef.Dispose();
    }
}