@inherits LayoutComponentBase

@using ShoppingCart.Services
@inject ICartService cartService
@implements IDisposable

<h3>Cart Total: $@cartService.Total</h3>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @*<div class="top-row px-4">
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>*@

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    protected override void OnInitialized()
    {
        cartService.OnChange += StateHasChanged; // giu trang thai
    }

    public void Dispose()
    {
        cartService.OnChange -= StateHasChanged; // bo trang thai
    }
}